
<h1>Login</h1>

<p>Log into the website</p>

<form action="/auth/getJWT" method="post">

  <label>Username: <input type="text" name="username" id="" placeholder="Username"></label>
  <label>Password: <input type="password" placeholder="Password" name="password" id=""></label>

  <button type="submit">Log in</button>
</form>
