
<h1>Sign up</h1>

<p>Sign up for an account today!</p>

<form action="" method="post">
  <label>Username: <input type="text" name="username" id="" placeholder="Username"></label>
  <label>Password: <input type="text" name="password" id="" placeholder="Password"></label>

  <button type="submit">Sign up</button>
</form>
